# rename to install.env for use
# this will overide values in setup-zfsbootmenu.sh

INTERACTIVE=false
ADDON="pve"
TIMEZONE="Asia/Tashkent"
NET_IF="eno1"
ROOT_PASSWORD="password_for_root_user"
ENC_PHRASE="encryption_passphrase_for_root_pool"
SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE3TtIL0HYZxtIwJ0dp3VE33+IBgoUthd0zrSoB3viih root@example"
HOSTNAME="hostname"
BOOT_DISK="/dev/sda"
POOL_DISK="/dev/sda"
BOOT_PART="1"
POOL_PART="2"
DISK_SUF=""
ID="pve"